<!-- Bas de la page -->

<div class="w-100 footer">
    <div class=" footer-text-center text-center">
        <p>Application créée en Mars 2022</p>
        <p>par Fridawis, Tuyen et Nadia</p>
    </div>
</div>
