<!-- Barre de navigation -->

<mat-toolbar>

  <mat-toolbar-row>
    <!-- <span>Third Line</span> -->
    <a class="navbar-brand" href="#"><img src="../../assets/logo.png" class="logo img-fluid text-white">   To-Do</a>
    <span class="example-spacer"></span>
    <span class="example-icon"></span>

    <button mat-menu-item (click)="logout()"><mat-icon>power_settings_new</mat-icon>Déconnexion</button>

  </mat-toolbar-row>
</mat-toolbar>

