<h1 mat-dialog-title class="bg-danger p-3 m-0 text-white">Modifier</h1>
<div mat-dialog-content class="p-4 m-3">

    <mat-form-field class="w-100 my-2 ">
        <mat-label>Titre</mat-label>
        <input matInput class="mx-auto w-100" type="text"   [(ngModel)]="data.title"  name="title"  value="item.title">
    </mat-form-field>

    <div class="flex my-2">
      <mat-form-field class="mr-4">
        <mat-label for="category" class=required.field>Catégorie</mat-label>
        <mat-select [(ngModel)]="data.category" placeholder="Catégorie" name="category">
            <mat-option *ngFor="let c of categoryarray" value="{{c}}">{{c}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="mr-4">
          <mat-label for="priority" class=required.field>Priorité</mat-label>
          <mat-select [(ngModel)]="data.priority"  placeholder="Priorité" name="priority">
              <mat-option *ngFor="let p of pvalueOptions" value="{{pallValues[p]}}">{{pallValues[p]}}</mat-option>
          </mat-select>
        </mat-form-field>
     </div>

        <mat-form-field class="w-100">
        <textarea matInput  class="mx-auto  d-block form-control"
        placeholder="Description"
        [(ngModel)]="data.description"
        name="description"
        type="text"
        >
        </textarea>
      </mat-form-field>

      <div class="flex">
      <mat-form-field class="mr-3">
        <input  name="sd" #sd="ngModel" [(ngModel)]="bdate" [matDatepicker]="dp" placeholder="Date de début" required matInput>
        <mat-datepicker-toggle class="datepicker-toggler" matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp> </mat-datepicker>
      </mat-form-field>

      <mat-form-field class="mr-3">
        <input  name="ed" #ed="ngModel" [(ngModel)]="edate" [matDatepicker]="dp1" placeholder="Date de fin" required matInput>
        <mat-datepicker-toggle class="datepicker-toggler" matSuffix [for]="dp1"></mat-datepicker-toggle>
        <mat-datepicker #dp1> </mat-datepicker>
      </mat-form-field>

    </div>

    <mat-form-field class="m-2 w-50">
      <mat-label for="status" class=required.field>Statut</mat-label>
      <mat-select [(ngModel)]="data.status" placeholder="Staus" name="status">
          <mat-option *ngFor="let s of svalueOptions" value="{{sallValues[s]}}">{{sallValues[s]}}</mat-option>
      </mat-select>
    </mat-form-field>

</div>
<div mat-dialog-actions class="mb-2 float-right mr-5">
  <button mat-button (click)="onNoClick()" class="btn btn-danger">Annuler</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial (click)="dateupdate(data);showToaster('Modifiée avec succès')" class="btn btn-success">Mettre à jour</button>
</div>
