<app-topbar isdashboard="false" ishomepage="true"></app-topbar>

<div class="">
  <app-addnewtask></app-addnewtask>
</div>

<div class="container-fluid maincontent">
  <div class="container overlay mt-5 py-5">
    <div class="items">

      <div class="row text-center m-3 iconsdiv">
        <div class="col-4">
          <mat-form-field class="filterdiv">
            <mat-label>Filtré par</mat-label>

            <mat-select
              [formControl]="filtertag" multiple (selectionChange)="onChange($event)">

              <div class="otpgroup bg-success text-white">Catégorie</div>

              <mat-option
                *ngFor="let category of categoryarray"
                [value]="category"
                #categoryvalue>{{ category }}
              </mat-option>

              <div class="otpgroup bg-success text-white">Priorité</div>

              <mat-option
                *ngFor="let priority of priorityarray"
                [value]="priority">{{ priority }}
              </mat-option>

              <div class="otpgroup bg-success text-white">Statut</div>
              <mat-option *ngFor="let status of statusarray" [value]="status">{{status}}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col-4">

          <mat-form-field class="searchdata">
            <input
              matInput
              type="text"
              placeholder="Recherche"
              [(ngModel)]="searchvalue"
              class="d-inline w-75 m-0 p-0 text-bold"
              (keydown)="research($event)"/>
            <i class="fa fa-search w-25 text-right"></i>
          </mat-form-field>

        </div>

        <div class="col-4 text-right">
          <button
            type="button"
            class="btn bg-light text-dark text-bold toggleicon"
            (click)="tblview(itemdiv, chngicon)"
            #toggleview>
            <i class="material-icons" #chngicon>
              format_list_bulleted
            </i>
          </button>
        </div>

      </div>
    </div>

    <div class="masonry" #itemdiv [@EnterLeave]="'flyIn'">
      <div *ngIf="filtered.length > 0; then showitems; else noitems"></div>

      <ng-template #showitems>
        <div
          class="item"
          *ngFor="let item of filtered"
          [@EnterLeave]="'flyInlist'">
          <div class="card p-2" #editvalues>
            <div (click)="openDialog(item)">

              <div class="card-header">
                <h3>{{ item.title }}</h3>
                <span class="badge badge-secondary d-inline-block px-4 text-center">
                  {{ item.category }}
                </span>
              </div>

              <div class="card-body">
                <small class="text-muted text-monospace">
                  Priorité : {{item.priority}}</small>
                <p>{{ item.description }}</p>

              </div>
            </div>

            <div class="hoverbuttons d-flex card-footer">
              <div
                class="completedstatus mr-auto"
                *ngIf="
                  item.status == 'Terminée';
                  then successtemplate;
                  else warningtemplate">
              </div>

              <ng-template #successtemplate>
                <p
                  class="badge badge-success align-bottom text-small align-middle my-2">
                  {{ item.status }}
                </p>

                <span class="m-2 text-small d-block text-monospace">
                  <b class="text-bolder">Commencée :</b> {{ item.begindate }} <br />
                  <b class="text-bolder">Terminée : </b>{{ item.enddate }}
                </span>

              </ng-template>

              <ng-template #warningtemplate>
                <p class="badge badge-danger text-small align-middle my-2">
                  {{ item.status }}
                </p>
                <span class="m-2 text-small d-block text-monospace">
                  <b class="text-bolder">Commencée :</b> {{ item.begindate }} <br />
                  <b class="text-bolder">À terminer avant le : </b>
                  <mark class="border-round">{{ item.enddate }}</mark>
                </span>

              </ng-template>

              <div class="ficons ml-auto">
                <i
                  type=""
                  (click)="chngcolor(editvalues)"
                  class="lni-color-pallet text-danger mx-1">

                </i>
                <i
                  type=""
                  (click)="fbdeleteItem(item); showToaster('Supprimée avec succès'); "
                  class="lni-trash text-danger mx-1">
                </i>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #noitems>
        <p class="p-5 my-5 text-black noitems">
          Pas de tâche à afficher, veuillez ajouter des tâches
        </p>
      </ng-template>
    </div>
  </div>
</div>

<app-footer></app-footer>
