input,
textarea {
  border: none;
  margin-bottom: 15px;
  font-size: 14px;
}

input:focus,
textarea:focus {
  outline: none !important;
}

.form-control {
  border-radius: 0px !important;
}

app-addnewtask {
  margin-top: 200px !important;
  display: block !important;
}

.masonry {
  /* Masonry container */
  column-count: 3;
  column-gap: 1em;
  column-fill: balance;
}

.item {
  /* Masonry bricks or child elements */
  background-color: black;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

img {
  width: 100%;
  border: 4px solid pink;
}

.mat-form-field {
  display: block;
}

.hoverbuttons {
  visibility: hidden;
}

.masonry .item:hover .hoverbuttons {
  visibility: visible;
}

.badge {
  line-height: 2 !important;
  text-decoration-color: black;
  color:black;
}
.masonry .item,
.masonry .item .card {
  border-radius: 15px;
}

.masonry .item .card:hover {
  box-shadow: 1px 5px 10px rgb(179, 175, 175, 0.5);
}

.hoverbuttons span {
  font-size: 10px;
  vertical-align: middle;
}

.otpgroup {
  font-weight: bolder;
  padding: 11px;
  margin: 5px;
}

.maincontent {
  background-color: #d8676533;
}

.toggleicon {
  box-shadow: 1px 3px 1px 0px #888;
}

.toggleicon i {
  vertical-align: text-bottom;
}

.toggleicon i:hover {
  color: white;
}


