<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock" >
        <h3 class="text-center">Mot de passe oublié</h3>

        <p class="text-center">Veuillez renseigner votre adresse e-mail pour l'envoie d'un nouveau mot de passe</p>

        <div class="formGroup text-center">
          <input type="email" class="formControl" placeholder="Email" #passwordResetEmail required>
        </div>

        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup text-center">
          <input type="submit" class="btn btnPrimary" value="Nouveau mot de passe" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>

      <div class="redirectToLogin text-center">
        <span>Vous avez déjà un compte ? <span class="redirect btn btnPrimary" routerLink="/login">Se connecter</span></span>
      </div>

    </div>
  </div>
