:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 100%;
}

.loginbg {
  background-image: url(../../assets/background_login.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-fluid {
  height: 100%;
}
.abouttodo {
  background: #86002D;
  color: #fff;
}
form {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
}

.signheader {
  background-color: #86002d;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.signinsocial {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 5px 10px;
  font-size: 20px;
}

.signinsocial i {
  color: #86002d;
}

.signinbtn {
  border: 2px solid #86002d;
}

.signinsocial:hover,

.signinbtn:hover {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 20px;
  color: #fff;
  background-color: #86002d;
}

.signinsocial:hover i {
  color: #fff;
}

.logo {
  vertical-align: middle;
  font-size: 30px;
  color: #fff;
  text-shadow: 5px 6px 6px #6f1212;
  font-family: "Akaya Telivigala", cursive;
}

.container-fluid {
  background-image: url(../../assets/background_login.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-fluid .row {
  height: 100%;
  align-items: center;
}

.login-wrapper {
  max-width: 80%;
}

.logo {
  color: #fff;
}
