<!-- Page d'acceuil contenant la description du site mais aussi la page d'inscription-->

<div class="container-fluid m-0">
  <div class="row">
    <div class="col-md-1"></div>
    <div align="center" class="col-md-5 my-5 py-5">
      <div class="abouttodo py-5 px-2">
        <a class="logo" href="#">
          <img class="logo img-fluid" src="../../assets/logo.png"/>
        </a>

        <a class="logo" href="#"></a>
        <p>
          Todo est une application qui permet de gérer de manière productive
          une liste de "choses à faire", elle permet de gérer à travers celle-ci une description, priorité, catégorie
          et une dead-line pour chaque objectif
        </p>
      </div>
    </div>
    <div class="col-md-5">
      <form
        #f="ngForm"
        (ngSubmit)="submit(f)"
        action="#!"
        class="text-center border border-light p-0">
        <mat-tab-group #tabGroup>
          <mat-tab label="S'identifier">
            <div class="container tab-pane active" id="login"><br/>

              <!-- Email -->
              <mat-form-field class="mx-auto w-75 d-block">
                <input
                  #uemail
                  #useremail="ngModel"
                  matInput
                  name="useremail"
                  ngModel
                  placeholder="Email"
                  required
                  type="text">
                <mat-error *ngIf="useremail.touched && !useremail.valid">Veuillez renseigner un email</mat-error>
              </mat-form-field>

              <!-- Mot de passe -->
              <mat-form-field class="mx-auto w-75 d-block">
                <input
                  #uPassword
                  #userPassword="ngModel"
                  matInput
                  name="userPassword"
                  ngModel
                  placeholder="Mot de passe"
                  required
                  type="password">
                <mat-error *ngIf="userPassword.touched && !userPassword.valid">Veuillez renseigner un mot de passe</mat-error>
              </mat-form-field>

              <div class="d-flex justify-content-around">

                <div>
                  <!-- Mot de passe oublié -->
                  <button
                    class="themeColor"
                    mat-button
                    routerLink="/password-forget">
                    Mot de passe oublié ?
                  </button>
                </div>
              </div>

              <!-- Bouton de connexion -->
              <button
                (click)="authService.SignIn(uemail.value, uPassword.value)"
                [disabled]="!uemail.value || !uPassword.value"
                class="themeColor mt-5 border-rounded w-75 d-block mx-auto p-2 text-bold signinbtn"
                mat-stroked-button
                type="button">
                Se connecter
              </button>

              <!-- S'inscrire -->
              <p>
                Vous n'avez pas de compte ?
                <span
                  (click)="tabGroup.selectedIndex = 1"
                  class="text-danger"
                  mat-button>Créer un compte
            </span>
              </p>

              <div class="sociallogindiv my-5">
                <!-- Connexiona vec google, fb et twitter -->
                <p>Se connecter avec :</p>

                <a
                  (click)="authService.GoogleAuth()"
                  class="mx-2 signinsocial"
                  role="button">
                  <i class="fa fa-google-plus"></i>
                </a>
                <a
                  (click)="authService.FacebookAuth()"
                  class="mx-2 signinsocial"
                  role="buttonclic"
                ><i class="fa fa-facebook-f"></i>
                </a>
                <a class="mx-2 signinsocial" role="button">
                  <i class="fa fa-twitter"></i></a>
              </div>
            </div>

          </mat-tab>
          <mat-tab label="S'enregistrer">
            <div class="container tab-pane" id="register">
              <br/>

              <div class="">
                <mat-form-field class="w-75 mx-auto d-block">
                  <input
                    #userEmail
                    class="formControl"
                    matInput
                    placeholder="Email"
                    required
                    type="email">
                </mat-form-field>

                <mat-form-field class="w-75">
                  <input
                    #userPass
                    class="formControl"
                    matInput
                    placeholder="Password"
                    required
                    type="password">
                </mat-form-field>
                <div class="d-flex justify-content-around">
                  <div>
                    <!-- Mot de passe oublié -->
                    <button
                      class="themeColor"
                      mat-button
                      routerLink="/password-forget">
                      Mot de passe oublié ?
                    </button>
                  </div>
                </div>

                <button
                  (click)="authService.SignUp(userEmail.value, userPass.value)"
                  class="mt-5 p-2 themeColor border-rounded w-75 d-block mx-auto text-bold signinbtn"
                  mat-stroked-button
                  type="button">
                  S'inscrire
                </button>

                <div class="sociallogindiv my-5 mx-auto">
                  <p>S'inscrire avec :</p>
                  <a
                    (click)="authService.GoogleAuth()"
                    class="mx-2 signinsocial" role="button">
                    <i class="fa fa-google-plus"></i>
                  </a>
                  <a
                    (click)="authService.FacebookAuth()"
                    class="mx-2 signinsocial" role="button">
                    <i class="fa fa-facebook-f"></i>
                  </a>
                  <a class="mx-2 signinsocial" role="button">
                    <i class="fa fa-twitter"></i>
                  </a>
                </div>

                <p class="nav-item">
                  Vous avez déjà un compte ?
                  <span (click)="tabGroup.selectedIndex = 0" class="text-danger">Se connecter</span>
                </p>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </form>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
