<div class="container my-4" (click)="remvform(extrafield, $event)" >
<form [formGroup]="myform" class="form1"  (submit)="addtask(myform.value,f);
showToaster('Ajoutée avec succès')"  (focusin)="showform(extrafield,title)"  #f="ngForm">

  <!-- Titre -->
    <div class="form-group w-75 mx-auto mt-4">
        <mat-form-field class="mx-auto w-100 d-block">
            <input matInput placeholder="Nouvelle tâche" formControlName="title"
             id="title"
             type="text"
             class="form-control"
             #title>
        </mat-form-field>
        <div *ngIf="title.touched && title.invalid" class="alert alert-danger p-1">
            <div *ngIf="title.errors.required">
                Veuillez renseigner un titre
            </div>
        </div>
    </div>

    <div class="extrafield" #extrafield>

      <!-- categorie  & priorité -->
        <div class="form-group mx-auto w-75">
          <span class="w-50 text-center">
            <mat-form-field>
              <mat-label for="category" class=required.field>Catégorie</mat-label>

              <mat-select formControlName="category"  id="category">
                <mat-option *ngFor="let category of categoryarray" [value]="category"> {{category}} </mat-option>
              </mat-select>

              <mat-error *ngIf="category.touched && category.invalid" class="alert alert-danger p-1">
                <div *ngIf="category.errors.required">
                    Selectionner une catégorie
                </div>
              </mat-error>
            </mat-form-field>
          </span>

            <span class="w-50 text-center">
              <mat-form-field>
                <mat-label for="priority" class=required.field>Priorité</mat-label>

                <mat-select formControlName="priority" id="priority">
                  <mat-option *ngFor="let priority of priorityarray" [value]="priority"> {{priority}} </mat-option>
                </mat-select>

                <mat-error *ngIf="priority.touched && priority.invalid" class="alert alert-danger p-1">
                  <div *ngIf="priority.errors.required">
                      Selectionner une priorité
                  </div>
                  </mat-error>
              </mat-form-field>
            </span>

        </div>

        <!-- description  -->
        <div class="form-group  w-75 mx-auto">
          <mat-form-field class="mx-auto w-75 d-block">
          <textarea matInput  class="mx-auto  d-block form-control"
          placeholder="Description"
          formControlName="description"
          id="description"
          type="text">
          </textarea>
          <mat-error *ngIf="description.touched && description.invalid" class="alert alert-danger p-1">
            <div *ngIf="description.errors.required">
                Ecrire une description
            </div>
            </mat-error>
         </mat-form-field>
        </div>

        <!-- Date de début et de fin de la tâche -->
        <div class="form-group w-75 mx-auto text-center">
            <span class="m-2">
              <div class="control-section">
                <div id="control_wrapper">
                    <ejs-datepicker class="w-75 form-control" placeholder="Date de début (JJ/MM/AAAA)" formControlName="begindate" id="begindate"></ejs-datepicker>
                </div>
              </div>
             </span>
            <span class="m-2">
              <div class="control-section">
                <div id="control_wrapper">
                  <ejs-datepicker class="w-75 form-control" placeholder="Date de fin (JJ/MM/AAAA)" formControlName="enddate" id="enddate"></ejs-datepicker>
                </div>
              </div>
            </span>
            <span class="m-2">
              <mat-form-field class="w-75 my-2">
                  <mat-label>Statut</mat-label>
                  <mat-select formControlName="status" id="status" class="form-control">
                    <mat-option *ngFor="let status of statusarray" [value]="status">
                      {{status}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </span>
        </div>

        <div class="form-group w-75 mx-auto">
          <button type="submit"  mat-raised-button color="primary"
          id="additembtn"
          class="form-control"
          [disabled]="!myform.valid">
            Ajouter une tâche
          </button>
        </div>
    </div>
</form>

</div>

