/* You can add global styles to this file, and also import other style files */
.themeColor {
  color: #86002d;
}

.themeBgColor {
  background-color: #86002d;
}

* {
  outline: none !important;
}

.mat-tab-label {
  width: 100% !important;
}


.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #86002d;
}

.mat-tab-labels {
  padding: 5px;
}

input {
  padding: 5px;
}

ul {
  list-style-type: none;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.card .card-header {
  background-color: transparent !important;
}


.mat-dialog-container {
  padding: 0px !important;
  overflow: visible !important;
}

