<div class="displayTable">
    <div class="displayTableCell">

      <div class="authBlock">
        <h3 class="text-center title-confirmation">Merci d'avoir créer un compte !</h3>

        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">Nous avons envoyé un mail de confirmation à <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Veuillez vérifier vos mails et cliquer sur le lien de confirmation envoyé</p>
        </div>

        <!-- Apppel à la méthode SendVerificationMail() qui utilise l'API authService -->
        <div class="formGroup text-center">
          <button type="button" class="btn btnPrimary button-confirmation" (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt text-center"></i>
            Renvoyé le mail de confirmation
          </button>
        </div>

      </div>

      <div class="redirectToLogin text-center">
        <span>Vous avez déjà un compte ?<span class="btn btnPrimary redirect button-confirmation" routerLink="/login"> Se connecter</span></span>
      </div>

    </div>
  </div>
